.box {
    width: 300px;
    height: 150px;
    border: 1px solid red;
    margin: 60px;
}

#visible {
    overflow: visible;
    color: green;
    }

#hidden {
    overflow: hidden;
    color:aqua;
}
#scroll {
    overflow: scroll;
    color: palevioletred;
}
#auto {
    overflow: auto;
    color:goldenrod;
}
