.elementy-blokowe p{
    background-color: yellow;
    display: inline;
}
.elementy-liniowe span{
  background-color: lime;
   display: block;
}
.lista-inline-block li {
    background-color: pink;
    display: inline-block;
    width: 100px;
    height: 100px;
}